.chatMessages,.chatSendControlsWrapper,.chatUsersAndFilter{
	background-attachment:fixed;
}
.chatRoomsAndMessages{
	background-image:url("https://arteze.github.io/charlavod/css/discoteca/kurco_2.jpg");
}
.chatSendControlsWrapper{
	background-image:url("https://arteze.github.io/charlavod/css/discoteca/emoticones_1.jpg");
}
.chatUsersAndFilter{
	background-position:right;
	background-image:url("https://arteze.github.io/charlavod/css/discoteca/caritas_usuarios.jpg");
}

